.mobile-header-wrapper {
  height: 10vh;
  width: 100vw;
  background-color: #f24b9b;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mobile-title {
  width: 70vw;
  height: 10vh;
  font-size: 4.3em;
  font-family: 'Prociono', serif;
  letter-spacing: 4px;
  display: flex;
  align-items: center;
}

.mobile-ham {
  width: 11vw;
  height: 10vh;
  display: flex;
  align-items: center;
}

.mobile-tiara-photo-wrapper {
  width: 100vw;
  height: 40vh;
}

.mobile-tiara-photo {
  width: 100vw;
  height: 45vh;
  background-image: url('../images/Tiara.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -260px;
}

.mobile-about-wrapper {
  width: 94%;
  font-size: 23px;
  display: flex;
  flex-direction: column;
  font-family: 'Work Sans', sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 1.5;
  color: #777;
}

#mobile-title {
  font-size: 70px;
  font-weight: 900;
  color: #000;
  display: flex;
  justify-content: center;
}

#mobile-subtitle {
  display: flex;
  font-size: 37px;
  text-align: center;
  font-style: italic;
}

#mobile-signature {
  float: right;
  font-size: 45px;
  font-style: italic;
}

#mobile-subsignature {
  float: right;
  font-size: 45px;
  margin-bottom: 5vh;
  font-style: italic;
}

hr {
  margin-bottom: 5vh;
}

.mobile-story-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.mobile-story-title {
  text-align: center;
  font-size: 59px;
}

.mobile-story1-photo {
  height: 66vh;
  width: 86vw;
  background-image: url("../images/katharine.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.mobile-story1-wrapper {
  width: 94%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 3em;
}

.mobile-story1 {
  width: 95vw;
  font-style: italic;
  color: #777;
}

.mobile-story2-photo {
  height: 49vh;
  width: 86vw;
  background-image: url("../images/change2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.mobile-story2-wrapper {
  width: 94%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 3em;
}

.mobile-story2 {
  width: 95vw;
  font-style: italic;
  color: #777;
}

.mobile-story3-photo {
  height: 49vh;
  width: 86vw;
  background-image: url("../images/change3.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.mobile-story3-wrapper {
  width: 94%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 3em;
}

.mobile-story3 {
  width: 95vw;
  font-style: italic;
  color: #777;
}
