<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/practice.css">
    <title></title>
  </head>
  <body ng-controller="menu-ctrl">

    <section id="practice-header">
      <!-- <div class="practice-ham" onclick='document.getElementById("practice-menu").style.width="45vw"'>HAM</div> -->
      <div class="practice-ham" ng-click="openNav2()">HAM</div>
    </section>

    <section id="practice-menu">
      <!-- <div class="cancel" onclick='document.getElementById("practice-menu").style.width="0vw"'>X</div> -->
      <div class="cancel" ng-click="closeNav2()">X</div>
      <div class="practice-slide-wrapper">
        <ul class="menu-list">
          <li>HOME</li>
          <li>MEET TIARA</li>
          <li>FITNESS & FOOD</li>
          <li>ENLIGHTENMENT</li>
          <li>SUSTAINABILITY</li>
          <li>CONTACT</li>
        </ul>
      </div>
    </section>
  <script src="./menuCtrl.js"></script>
  </body>
</html>
