<side-menu-directive></side-menu-directive>

<section class="enlighten-content-wrapper">

  <div class="tiara-photo-wrapper-enlighten"></div>

  <section class="block">
  <h1 class="enlightenment-title">Enlightenment<br></h1>

  <div class="enlightenment-content">
    As described in the Websters Dictionary Enlightenment refers to the state of having knowledge or understanding :
    the act of giving someone knowledge or understanding. <br><br>

    <div class="enlightenment-picture"></div>

    The soul purpose of this Blog is to increase my own knowledge and understanding towards our mind, body and spirit.
    I believe it is apart of my distinct calling to help illuminate the world of darkness with this inspiring information
    I am gaining. I am not perfect, nor will I ever be, but I do believe If I strive to gain more insight towards other
    people's experiences I will help illuminate their light into the world. <br><br>

    As you scroll through my blog you will read some of my favorite quotes, scriptures, and interviews; from inspiring
    foodies, fitness junkies and successful leaders. Who knows you might be the next story I feature!  </div>

</section>
</section>
