<section class='home-page'>
<div class="body">
  <div class="body-background">
    <p class="header">FITNESS - FOOD - ENLIGHTENMENT</p>
    <div class="title-wrapper"><p class="title">A Daily Cup of T</p></div>
    <p class="subtitle">for the mind, body, and spirit</p>
    <div class="button-wrapper" id="home-button">
      <button class="get-started" ui-sref="meet-tiara">GET STARTED</button>
    </div>
    <div class="social-media">
      <ul>
        <li>FB</li>
        <li>G+</li>
        <li>IG</li>
        <li>YT</li>
      </ul>
    </div>
  </div>
</div>
</section>
