<!-- using the Login css -->

<section class="login-wrapper">

  <div class="register-user" ui-sref="register"></div>

  <div class="login-title">Please Regsiter</div>

  <section class="input-wrapper">
    <div class="inputs">
      <input type="text" name="username" placeholder="username" ng-model="registerInfo.username">
    </div>
    <div class="inputs">
      <input type="password" name="password" placeholder="password" ng-model="registerInfo.password">
    </div>
  </section>

  <div class="login-submit-button">
    <button type="button" ng-click="register(registerInfo)">Submit</button>
  </div>

  <div class="cancel-login" ui-sref="home">Cancel</div>

</section>
