.contact-wrapper {
  margin-left: 18vw;
  height: 137vh;
  width: 82vw;
  background: #ccc;
}

.name-wrapper {
  font-size: 15px;
  display: flex;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
}

.name {
  width: 100%;
  font-size: 15px;
}

#name-title {
  font-size: 16px;
}

.name div {
  width: 32%;
}

.input {
  display: flex;
}

#firstname, #lastname {
  border: solid 1px #000;
  font-size: 17px;
  padding: 17px;
  width: 16.5em;
}

.names {
  display: flex;
}

/*Email Section*/
.email-wrapper {
  font-size: 15px;
  display: flex;
  padding-left: 2em;
  padding-bottom: 2em;
}

.email-title {
  font-size: 16px;
  width: 100%;
}

#email {
  border: solid 1px #000;
  width: 58%;
  font-size: 17px;
  padding: 17px;
}

/*Subject Section*/
.subject-wrapper {
  font-size: 15px;
  display: flex;
  padding-left: 2em;
  padding-bottom: 2em;
}

.subject-title {
  font-size: 16px;
  width: 100%;
}

#subject {
  border: solid 1px #000;
  width: 58%;
  font-size: 17px;
  padding: 17px;
}

/*Message Section*/
.message-wrapper {
  font-size: 15px;
  display: flex;
  padding-left: 2em;
  padding-bottom: 2em;
}

.message-title {
  font-size: 16px;
  width: 100%;
}

textarea {
  border: solid 1px #000;
  font-size: 17px;
  width: 58%;
  height: 15vh;
  padding: 17px;
}

/*How did you find me*/
.question-wrapper {
  font-size: 15px;
  display: flex;
  padding-left: 2em;
  padding-bottom: 2em;
}

.question-title {
  font-size: 16px;
  width: 100%;
}

#question {
  border: solid 1px #000;
  padding: 17px;
  width: 58%;
  font-size: 17px;
}

/*Button*/
#button-wrapper {
  font-size: 15px;
  padding-left: 2em;
  padding-bottom: 2em;
}

#submit {
  border: solid 1px #000;
  font-size: 15px;
  background-color: #000;
  color: #fff;
  height: 32px;
  width: 6em;
}
