.content-wrapper {
  margin-left: 18vw;
  width: 60vw;
  height: 110vh;
  background: grey;
}

.block {
  display: block;
  width: 40vw;
  height: 90vh;
}

/*.tiara-photo-wrapper {
  margin-top: -16px;
  margin-left: 60vw;
  height: 117vh;
  width: 22vw;
  background-image: url('../images/fitnessTiara.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -85px -39px;
}*/

.fitness-picture {
  height: 300px;
  width: 300px;
  background-image: url('../images/fitness.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}
