.login-wrapper {
  height: 100vh;
  width: 100vw;
  background-image: url("../images/dream-cup.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.register-user {
  height: 10vh;
  float: right;
  text-decoration: underline;
  cursor: pointer;
  padding: 2em;
}

.register-user:hover {
  color: white;
}

.login-title {
  height: 13vh;
  width: 100vw;
  font-size: 45px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.input-wrapper {
  height: 29vh;
  width: 100vw;
}

.inputs {
  display: flex;
  justify-content: center;
  margin: 1em;
  color: black;
}

input {
  /*height: 30px;*/
  width: 25em;
  padding: 17px;
  font-size: 17px;
  background: transparent;
}

.login-submit-button {
  width: 100vw;
  margin-top: 7em;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
}

button:hover {
  background-color: black;
  color: white;
}

.cancel-login {
  width: 100vw;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  cursor: pointer;
}

.cancel-login:hover {
  color: white;
}

::-webkit-input-placeholder {
   color: black;
}

.security-key {
  height: 5px;
}

swal({
  title: "Error!",
  text: "Here's my error message!",
  type: "error",
  confirmButtonText: "Cool"
});
