.main-content-wrapper {
  margin-left: 18vw;
  height: 110vh;
  width: 82vw;
  /*background-color: #ccc;*/
  color: #404142;
  display: flex;
}

.tiara-photo {
  width: 50%;
  height: 110vh;
  background-image: url('../images/Tiara.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -100px;
}

.about {
  width: 50%;
  height: 110vh;
  margin: 1.5em 1em;
  display: flex;
  flex-direction: column;
  font-family: 'Work Sans', sans-serif;
}

  #title {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #000;
  }

  #intro {
    text-align: center;
    font-style: italic;
  }

  #signature {
    text-align: right;
  }

/* Styling for Story Section */

.stories-intro {
  margin-left: 18vw;
  text-align: center;
  padding: 1.5em;
  font-family: 'Work Sans', sans-serif;
}

.story1-wrapper {
  margin-left: 24vw;
  height: 90vh;
  width: 70vw;
  color: #404142;
  display: flex;
  border: 1px solid #000;
}

.story1-photo {
  width: 60%;
  background-image: url('../images/katharine.jpg');
  background-size: 340px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  margin-left: 2em;
  margin-right: -20em;
  margin-top: 1.5em;
}

.story1 {
  width: 50%;
  height: 90vh;
  margin-left: 5em;
  margin-top: 3em;
  font-size: 30px;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}
