.meet {
  height: 250vh;
  width: 100vw;
  display: flex;
}

.menu2-wrapper {
  height: 100vh;
  width: 18vw;
  background-color: #f24b9b;
  color: white;
  position: fixed;
  display: block;
  justify-content: center;
  font-family: 'Poppins', sans-serif;

}

.logo img {
  width: 65%;
  margin-left: 35px;
  margin-bottom: 35px;
  /*margin-top: 6em;*/
  cursor: pointer;
}

    .menu2 ul, li {
      margin-left: 1.5em;
    }

    #one {
      padding-bottom: 1em;
      cursor: pointer;
    }

    #one:hover {
      color: black;
    }

.sub-menu2 {
  padding-top: 1em;
  padding-left: 1.5em;
  line-height: 1em;
}

    .sub-menu ul, li {
      margin-left: 1.5em;
    }

    #workout, #recipe, #blog, #shouldI {
      color: #000;
      padding-bottom: .5em;
      cursor: pointer;
    }

    #workout:hover, #recipe:hover, #blog:hover, #shouldI:hover {
      color: white;
    }

.social-media2 {
  margin-left: 4em;
  margin-top: 2em;
}

    .social-media2 ul li {
      display: inline-block;
    }

    #FB, #G, #IG, #YT {
      margin-left: 0;
      cursor: pointer;
    }
