.menu-wrapper {
  width: 75vw;
  height: 100vh;
  background-color: #f24b9b;
  color: #fff;
  float: left;
  z-index: 6;
  font-size: 4em;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  position: fixed;
  transform: translate(100%);
}

.main-content-wrapper-michael {
  float: left;
}

.cancel {
  height: 10vh;
  width: 90%;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#menu-items {
  line-height: 1.5em;
}

#sub-menu-items {
  line-height: 1.5em;
}

#side-menu-media {
  width: 75vw;
  height: 20vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

    #side-menu-media-items {
      display: flex;
      margin-left: -1.5em;
    }

.menuIsOpen-add {
  transition: transform .3s linear;
}

.menuIsOpen,
.menuIsOpen-add-active {
  transform: translateX(-30%);
}

.menuIsOpen-remove {
  transition: transform .3s linear;
}

.menuIsOpen-remove-active {
  transform: translateX(0);
}

.menuIsOpenMenu-add {
  transition: transform .3s linear;
}

.menuIsOpenMenu,
.menuIsOpenMenu-add-active {
  transform: translateX(0);
}

.menuIsOpenMenu-remove {
  transition: transform .3s linear;
}

.menuIsOpenMenu-remove-active {
  transform: translateX(100%);
}
