.content-wrapper {
  margin-left: 18vw;
  width: 60vw;
  height: 135vh;
  /*background: grey;*/
  display: flex;
  justify-content: center;
  font-size: 17px;
  line-height: 150%;
}

.block {
  display: block;
  width: 55vw;
  height: 90vh;
}

.sustainability-title {
  display: flex;
  justify-content: center;
  padding: 2em;
  font-weight: bolder;
}

.tiara-photo-wrapper-sustain {
  margin-top: -16px;
  margin-left: 43vw;
  height: 117vh;
  width: 26vw;
  background-image: url('../images/sustain.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -115px -39px;
  position: fixed;
}
