<side-menu-directive></side-menu-directive>

<section class="contact-wrapper">

  <div class="tiara-photo-wrapper-contact"></div>

  <section class="name-wrapper">
    <div class="name" id="name-title">NAME * <br><br>
      <form class="input">
        <div><input type="text" name="firstname" id="firstname" ng-model="form.firstname"></div>
        <div><input type="text" name="lastname" id="lastname" ng-model="form.lastname"></div>
      </form>
        <section class="names">
             <div><br>First Name</div>
             <div><br>Last Name</div>
        </section>
    </div>
  </section>

<section class="email-wrapper">
  <div class="email-title">EMAIL * <br><br>
    <form class="email-input">
      <input type="text" name="email" id="email" ng-model="form.email">
    </form>
  </div>
</section>

<section class="subject-wrapper">
  <div class="subject-title">SUBJECT * <br><br>
    <form class="subject-input">
      <input type="text" name="subject" id="subject" ng-model="form.subject">
    </form>
  </div>
</section>

<section class="message-wrapper">
  <div class="message-title">MESSAGE * <br><br>
    <form class="message-input">
      <textarea ng-model="form.message"></textarea>
    </form>
  </div>
</section>

<section class="question-wrapper">
  <div class="question-title">HOW DID YOU FIND ME? <br><br>
    <form class="question-input">
      <input type="text" name="question" id="question" ng-model="form.found">
    </form>
  </div>
</section>

<section id="button-wrapper">
  <button id="submit" type="button" ng-click="sendForm(form)">Submit</button>
</section>
</div>
</section>
