<section class='home-page'>
<div class="body">
  <div class="body-background">
    <p class="header">FITNESS - FOOD - ENLIGHTENMENT</p>
    <div class="title-wrapper"><p class="title">A Daily Cup of T</p></div>
    <p class="subtitle">for the mind, body, and spirit</p>
    <div class="button-wrapper" id="home-button">
      <button class="get-started" ui-sref="meet-tiara">GET STARTED</button>
    </div>
    <div class="social-media">
      <ul>
        <a href="https://www.facebook.com/tiara.lewis.980"target="_blank">FB</a>
        <a href="https://plus.google.com/107722214021609497683" target="_blank">G+</a>
        <a href="https://www.instagram.com/adailycupoft" target="_blank">IG</a>
        <a href="https://www.youtube.com/channel/UCNIpY-wT1ZbAsDFdKAQAUAA" target="_blank">YT</a>
      </ul>
    </div>
    <div class="login-button-wrapper">
      <a href="/auth/facebook">Login via Facebook</a>
    </div>
  </div>
</div>
</section>
