<section class="login-wrapper">

  <div class="register-user" ui-sref="register">Register</div>

  <div class="login-title">WELCOME TIARA</div>

  <section class="input-wrapper">
    <div class="inputs">
      <input type="text" name="username" placeholder="username" ng-model="username">
    </div>
    <div class="inputs">
      <input type="text" name="password" placeholder="password" ng-model="password">
    </div>
  </section>

  <div class="login-submit-button">
    <button type="button" ng-click="login()" ui-sref="meet-tiara">Login</button>
  </div>

  <div class="cancel-login" ui-sref="home">Cancel</div>

</section>
