<section class="login-wrapper">
  <div class="body-background">

  <div class="register-user" ui-sref="register">Register</div>

  <div class="login-title">WELCOME TO TIARA'S HEALTH SITE</div>

  <!-- <section class="input-wrapper">
    <div class="inputs">
      <input type="text" name="username" placeholder="Username" ng-model="login.Username">
    </div>
    <div class="inputs">
      <input type="password" name="password" placeholder="Password" ng-model="login.Password">
    </div>
  </section> -->

  <a href="/auth/facebook">Login via Facebook</a>

  <div class="login-submit-button">
    <button type="button" ng-click="loginUser()">Login</button>
  </div>

  <div class="cancel-login" ui-sref="home">Cancel</div>
</div>

</section>
