<!-- using the Login css -->

<section class="login-wrapper">
  <div class="body-background">

  <div class="register-user" ui-sref="register"></div>

  <div class="login-title">Please Regsiter</div>

  <section class="input-wrapper">
    <div class="inputs">
      <input type="text" name="username" placeholder="Username" ng-model="registerInfo.username">
    </div>
    <div class="inputs">
      <input type="password" name="password" placeholder="Password" ng-model="registerInfo.password">
    </div>
    <div class="inputs">
      <input type="password" name="securityKey" placeholder="Security Key" ng-model="registerInfo.securityKey">
    </div>
  </section>

  <div class="login-submit-button">
    <button type="button" ng-click="register(registerInfo)">Submit</button>
  </div>

  <div class="cancel-login" ui-sref="home">Cancel</div>

</div>
</section>
