<section class="menu2-wrapper">
  <div class="logo"><img src="./images/CupOfT.png"></div>

  <div class="menu2">
  <ul>
    <li id="one" ui-sref="home">HOME</li>
    <li id="one" ui-sref="meet-tiara">MEET TIARA</li>
    <li id="one" ui-sref="fitness">FITNESS & FOOD</li>
    <li id="one" ui-sref="enlightenment">ENLIGHTENMENT</li>
    <li id="one" ui-sref="sustainability">SUSTAINABILITY</li>
    <li id="one" ui-sref="contact">CONTACT</li>
  </ul>
  </div>

  <div class="sub-menu2">
  <ul>
    <li id="workout">Workouts</li>
    <li id="recipe" ui-sref="recipes">Recipes</li>
    <li id="blog" ui-sref="blog">BLOG</li>
    <li id="shouldI" ui-sref="shouldI">Should I Workout?</li>
  </ul>
  </div>

  <div class="social-media2">
    <ul>
      <a href="https://www.facebook.com/tiara.lewis.980"target="_blank">FB</a>
      <a href="https://plus.google.com/107722214021609497683" target="_blank">G+</a>
      <a href="https://www.instagram.com/adailycupoft" target="_blank">IG</a>
      <a href="https://www.youtube.com/channel/UCNIpY-wT1ZbAsDFdKAQAUAA" target="_blank">YT</a>
    </ul>
  </div>

</section>
