<section class="side-menu">
  <div class="menu-item-wrapper">
    <div class="cancel" ng-click="toggleMenu()">X</div>
    <ul id="menu-items">
      <li ui-sref="home">HOME</li>
      <li ui-sref="mobile">MEET TIARA</li>
      <li ui-sref="fitness">FITNESS & FOOD</li>
      <li ui-sref="enlightenment">ENLIGHTENMENT</li>
      <li ui-sref="sustainability">SUSTAINABILITY</li>
      <li ui-sref="contact">CONTACT</li>
    </ul>
    <br>
    <br>
    <ul id="sub-menu-items">
      <li>Workouts</li>
      <li>Recipes</li>
      <li>BLOG</li>
    </ul>
    <br>
    <br>
    <div id="side-menu-media">
      <ul id="side-menu-media-items">
        <li>FB</li>
        <li>G+</li>
        <li>IG</li>
        <li>YT</li>
      </ul>
    </div>
  </div>
</section>
