<section class="mobile-header-wrapper">
  <div class="mobile-title">A DAILY CUP OF T</div>
  <div class="mobile-ham"><img src="./images/ham.png"></div>
</section>

<!-- <section class="side-menu">
  <div class="menu-item-wrapper">
    <div class="cancel">X</div>
    <ul id="menu-items">
      <li>HOME</li>
      <li>MEET TIARA</li>
      <li>FITNESS & FOOD</li>
      <li>ENLIGHTENMENT</li>
      <li>SUSTAINABILITY</li>
      <li>CONTACT</li>
    </ul>
    <br>
    <br>
    <ul id="sub-menu-items">
      <li>Workouts</li>
      <li>Recipes</li>
      <li>BLOG</li>
    </ul>
    <br>
    <br>
    <div id="side-menu-media">
      <ul id="side-menu-media-items">
        <li>FB</li>
        <li>G+</li>
        <li>IG</li>
        <li>YT</li>
      </ul>
    </div>
  </div>
</section> -->
