<!-- Using blog.css with Enlighten content -->

<side-menu-directive></side-menu-directive>

<section class="blog-content-wrapper-a">

  <div class="tiara-photo-wrapper-blog"></div>

<section class="block-blog">

  <div class="blog-content">

    <br><br><span style="font-weight: bolder">Lost and Found</span><br><br>

OCTOBER 29, 2016<br><br>

<span style="font-weight: bolder; color: black">Lost and Found Through Hope and Perseverance</span><br><br>

As I take you back through some of my darkest days understand my journey has not ended. Each morning as the sun rises I must
 remember HOPE. Have optimism passionately everyday is the theme I have set for my life. Through my story I wish to give you
  HOPE through whatever struggle you may be facing.<br><br>

<span style="font-weight: bolder; color: black">The world made fun of me</span><br><br>

It’s a typical school night and I feel restless due to an overwhelming amount of homework I have incomplete. My stomach
begins to grumble and my sugar cravings kick in. Before you know it, I have a mug half way full of ice cream and the other
half full of chex cereal and milk. I begin shoveling bite after bite into my mouth as my mind escapes reality. Five minutes
later I realize my late night treat is gone and my mind tricks me into believing I am still hungry. When in fact my body is
malnourished by real, wholesome food, but completely full of processed sugary food. At this point in the night I don’t
connect the dots; I don’t want to connect the dots.<br><br>

I carry on in a state of stupor navigating my way to the chip cupboard. After eating a couple large handfuls of chips I
find myself bloated and sick. I snap out of my fogginess and register I need to escape this feeling. I need to escape this
fat body I just created and slip away unnoticed. I down a large glass of water. I make sure everyone is asleep. The coast
is clear. I enter into my “safe haven” and the process begins. Two fingers forced down my throat and up comes the ice cold
water I just drank with bits of cereal. Then, the milky ice cream is followed with the sharp chips causing my throat to
bleed.<br><br>

At last my stomach is once again empty. I blow my nose, flush the evidence, and wipe down the entire toilet. I leave my
sanctuary with a distorted mindset feeling like this is the one thing in my life I have complete control over. Boy, was
I in for an awakening. <br><br>

About four and a half hours later my alarm clock goes off. It’s 530 am, time for cheer. I sleepily put on my spandex,
sports bra, cheer shoes, and contacts. I still feel sick and bloated. I think to myself, “I thought I threw everything
up, how can I still feel and look this way?!” With only 10 minutes left before practice I run to the empty locker room
and gag myself. After multiple attempts, bile and blood is the only thing present in the toilet. I hear my coach rounding
everyone up. In a panic I grab my water bottle and hurry on over.<br><br>

Once again I snap out of my delirious state realizing I must set an example for the team as cheer captain. After huddle I
lead our warm-up run. Lap after lap my head is beginning to feel more and more dizzy. I feel nauseous and this time I feel
like I am going to puke without trying. I tell a few of the girls running past me that I don’t feel well, but to continue
running without me. I jog over to my coach, out of breath informing her I feel nauseous and dizzy. She laughs at me and
sarcastically says, “ Why don’t you just go stick a few fingers down your throat, you’ll feel better.” I look at her with
a blank face wishing I had eaten more cereal so I could puke on her shoes. I was in total shock that she had just advised
me to do something I was already doing.<br><br>

It made me so angry and oddly enough it fueled my fire even more to continue this awful cycle I had created. As much as
I was keeping it a secret, I wanted someone to find out. I wanted empathy. I felt lost and confused. I felt ugly, helpless,
 and unnoticed. I thought, if only I could be thin, then I would be beautiful. Then I would be able to have a boyfriend
 who really loves me like all of my friends have and then I would become happy like they are.  Once again I was wrong.<br><br>

<span style="font-weight: bolder; color: black">I left the world</span><br><br>

Throughout this time I began experimenting with pot, alcohol, and a few pills. I loved this creative world I discovered
with my new group of friends. I felt alive, energetic, and I didn’t care how others perceived me. You could say I went
from being a shy soft spoken girl to a loud, wild child. I let my extroverted side shine through and on certain occasions,
probably a little too much. As these habits increased my eating disorder went haywire.<br><br>

If you are familiar with 4/20 you understand that this day is celebrated with green brownies, lollipops, gas masks,
and endless amounts of that “Purple Kush.” This amount of cannabis will put anyone into a munchie coma, but only a few
are left puking. I was one of the select few. 4/20 seemed to carry on past April 20th one too many times.  My partying
days went from weekends to weeknights. It was an escape from my personal fears and insecurities. Because of this new
behavior I became sloppy at home. Soon, my dad found out, then my sister, and then my mom. It was one intervention after
another. I told them all I was fine and I was getting better. Part of me was getting better because I was distracting
myself by partying every chance I had as well as training to tryout for the BSU and ISU cheer team. With a bit of hope
left I felt as if I could finally overcome this horrific disease I had brought upon myself.<br><br>

Right before graduating high school I found out that I did not make the BSU cheer team, but I did make the cuts at ISU.
I was disappointed in myself for not working harder to make BSU, but I was ecstatic for the opportunity I had to still
cheer at a collegiate level. This gave me the opportunity to reevaluate my life and ask myself what I really desire.
Unfortunately, my education was not a top priority. The only thing I wanted during this time was to become a really great
college cheerleader, meet hot boys, and throw massive house parties. I earned my badge. My house was officially stamped
as the cat den. I was finally gaining confidence and I was beginning to thrive at beer pong.<br><br>

If you scanned through my college pictures you would see how happy I was, but there was still a portion of me drowning
with insecurities. I didn’t want others to think I cared because I thought It would make me appear to be weak. In reality,
I cared SO much about what others thought of me. Did they think I was one of the “thicker” girls on the team? What did
they think of me in my cheer uniform? How much heavier was I compared to the other fliers. The list went on. I was stuck
in this cycle of not eating, overeating, drinking too much, puking, passing out, and living with a constant hangover.<br><br>

As I write this I am reminded by how darkness was slowly taking over my life. I did not want to feel the pain or accept
the pain I was experiencing; so I continued to numb it away with drugs, alcohol, and food. At this point in my life I had
been in and out of a year long, heart breaking relationship which I thought was going to destroy me. Once I broke ties
and moved forward with as little resentment as possible, I grasped for the idea of hope and for a better tomorrow.
Inevitably, hope is always found in the gym or on a running path. I began shifting my energy towards doing things that
made me feel whole again because living with a hangover was starting to get old.<br><br>

I did well for awhile and then financial and school stress triggered me me into yet another downward spiral. My GPA was
standing at an all time low of 1.80 which caused FAFSA to inform me I would no longer be eligible for a pell grant or
additional student loans. Receiving this letter crushed me. I remember falling to the floor sobbing and not knowing what
to do. I was too ashamed and stubborn to ask my parents for help and quitting cheer was not an option for me. I was not
ready to move on. Cheer was the main thing bringing true happiness and stability into my life.<br><br>

<span style="font-weight: bolder; color: black">The girl named Oaklee</span><br><br>

The first step I took was sending in my appeal to the administration office pleading for my stay as an ISU student and
cheerleader. They graciously accepted my request and I was put on academic probation. The second step I needed to take
was coming up with a little over $2,000 for tuition. I had less than two months to come up with the money before fall
semester began. I estimated how much I could potentially earn by working a double waitressing shift every single night,
for two months straight.  Unfortunately, this was not realistic because I had cheer practice 3-4 times throughout the
week. As time began running out my roommate offered me the idea of working out of town with her at a gentlemen's club
for a few weekends. She said, “No one will find out. It will be our little secret and you will probably even have leftover
money to go shopping with!”<br><br>

As desperate as I was I decided to move forward with the plan. As we ventured off to a foreign place with my new name
I made a promise to myself that I would not work for more than two weekends. Well, the third weekend rolled around and
I failed to keep another one of my promises. I would put up a front and make our lives seem so glamorous. I would remind
myself of the FUN we would have each weekend and blur out the ugly. I won’t lie writing this is hard. It brings back
emotions and images I don’t want to remember. There were points where I danced in exchange for drugs instead of money.
I became reliant on alcohol, weed, Adderall, cocaine, and when it was really bad, speed. I needed my fix in order to
have the non-stop energy to keep going through the night. Along with the energy I was constantly craving I yearned to
stay skinny and to become skinnier. I loved that I didn’t have an appetite, but I hated the way I felt. I could feel
myself killing my own body. This continued on for the next year and half of my life. I felt completely and utterly trapped.<br><br>

<span style="font-weight: bolder; color: black">I found God</span><br><br>

As J.K Rowling once shared, “Rock bottom became the solid foundation on which I rebuilt my life.” This statement hits my
heart so hard. I hit rock bottom when I found out my grandma had passed away on New Year's Eve. I remember listening to
the voicemail my mom had left me while trying to sober up and I thought, “Wow… my life is no longer a secret. My grandma
is in this room and she can see everything that is going on.” In that moment I had to ask myself if I die tomorrow would
I be happy with the life I have created. The answer was clearly no.<br><br>

Three weeks before my grandma’s passing I quit cheer because I could not handle the stress of lying to my coach and
teammates while attempting to keep up with practice, games, and extra events. It completely broke me having to say goodbye
to my team who felt like my family. Once the new year struck I knew exercise would be my first source of therapy. Because
of my competitive nature I decided to sign up for my first bikini competition. Throughout the 3.5 months of training I
slowed my alcohol and drug habits down tremendously. My eating habits improved and I was beginning to feel like me again.
I still had work to do, but I was happy with the changes I was making.<br><br>

Right before competing I met my mentor and now coach, Scottie Hobbs who brought a vision of hope into my life. He shared
with me his struggles and how he has been able to overcome them through helping others. He gave me belief in myself and
encouraged me to have a dream big mindset. Through his ongoing guidance and example I was able to gain enough strength to
start a new life in Utah.<br><br>

As many of you know Utah is known for Mormons. I had no intentions of going back to church or learning about the gospel.
My reason for moving was strictly to go to school and be further away from the devil's temptations. Sadly, the distance
didn’t stop me. After a few weeks I eventually cut ties from Oaklee. From that moment I had members from the church
consistently visiting me for about 6 months. At first I had them coming over because I honestly felt bad denying their
friendship over and over. As time pressed forward I began to see a spark in these members eyes. I could see their love
for God and for His plan. I could see how badly they wanted me to be apart of it. I was tired of pushing their love and
God's love away from my life. I finally surrendered myself to the man upstairs.<br><br>

<span style="font-weight: bolder; color: black">I loved the world</span><br><br>

Since welcoming God back into my life I have been able to find true and everlasting peace within myself. I honestly never
knew this type of joy and happiness existed. I believed I would be in my own personal hell for the rest of my life. I
forgot what it felt like to enjoy food with company without feeling ashamed and guilty. I forgot what it felt like to
love and be loved. I forgot how amazing it felt to wake up without a hangover. I forgot what I felt like to actually
remember what happened the night before. I forgot how to live. Through family, friends, and support groups I have been
able to let go and let God take over.<br><br>

I have been sober for over one year and I have been free from my eating disorder for 10 months. I am married to my
wonderful husband and together we have a 3 month old little boy who brings so much joy into our lives. Temptations
became heavy to bare during pregnancy, but I know I have gained strength through every struggle I have been able to
overcome. Each day I have to remind myself to practice mindful eating, breathing exercises, and positive affirmations.
I know when I align myself with Heavenly Father and His plan he will allow me to be a refined tool in His hands.<br><br>

Through my trials, I have grown a deep compassion and understanding towards others suffering. I yearn to help others who
feel inadequate, alone, ashamed, and forgotten. Through the small light I received during my darkest hours I strive to
keep that light moving forward; because you my friend do not have to feel this way. You are worthy of being loved and if
there is one thing you cannot fail at, it is being you.<br><br>
</div>

<section class="feedback">
  <div class="comment"><img src="../images/speech-bubble.png" id="speech-bubble">Comment</div>
  <div class="like"><img src="../images/heart.png" id="heart" ng-click="count = count + 1" ng-init="count=0">{{count}} Likes</div>
  <div class="share"><img src="../images/share.png" id="share-icon">Share</div>
</section>

<section class="new-blog"></section>
  <div><textarea ng-hide="blogPostNew" class="blog-post-input"></textarea></div>
  <button type="button" class="new-blog-button" ng-click="createPost()">New Post</button>
  <button type="button" class="publish-button" ng-click="publishPost()" ng-hide="publishBlogPost">Publish</button>
</section>

</section>
